body {
  background-color: #D1E5E1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vH;
}

img {
  margin-bottom: 3rem;
}

h1, p {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin-bottom: 1.5rem;
  padding: 0 1rem;
}
